* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  height: 100vh;
  background-image: url("./accents/fondobodyEcoSfera.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;


}




/*-----------------------------------------------------*/

.carousel-padre {
  
  display: flex; /* Activa Flexbox */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 500px; /* Ocupa toda la ventana (opcional) */
  margin: 2px;
  
}

.carousel{
  margin-top: 115px;
  height: 500px;
  width: 145%;
  max-width: 990px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgb(0, 0, 0.1);
}



.carousel-hijo {
  display: flex;
  animation: slide 12s infinite;
  align-items: center;
  left: 48px;
  height: 500px;
  
}
 


.carousel-item {
  min-width: 100%;
  transition: transform 0.5s ease;
 height: 500px;

}

.carousel-item img {
  height: 500px;
  display: block;
  width: 100%;
  background-size: cover;
}


@keyframes slide {
  0% { transform: translateX(0); }
  25% { transform: translateX(-100%); }
  50% { transform: translateX(-200%); }
  75% { transform: translateX(-300%); }
  100% { transform: translateX(0); }
}
